body {
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
    min-height: 100vh;
    .container {
        width: 100%;
        padding: 30px;
        display: flex;
        justify-content: space-between;
    }
    .container:nth-child(1){
        box-shadow: 0 0 5px rgba(0, 0 , 0, 0.3);
    }
}
body.dark {
    background-color: hsl(207deg, 26%, 27%);
    color: #fff;
}